
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Giriş</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">

    </style>
</head>
<body>
    <div class="background">

    </div>
    <form method="post">
        <h3>Giriş Yapın</h3>
        {% csrf_token %}
        <label for="username">Kullanıcı Adı</label>
        <input type="text" placeholder="Kullanıcı Adı" id="username" name="username">

        <label for="password">Şifre</label>
        <input type="password" placeholder="Şifre" id="password" name="pass">

        <button type="submit">Giriş Yap</button>
        <!-- <input type="button" value=""> -->
        <!-- <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div> -->
        <a href="{% url 'signup' %}" >Hesap Oluşturun</a>
    </form>
</body>
</html>