<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Baykar UAV Rant</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1 bg-light sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">

                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center">
                    <li class="nav-item">
                        <a href="{% url 'home' %} " class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
                           data-bs-placement="right" data-bs-original-title="Home">
                            <i class="bi-house fs-1" style="color:#132143"></i>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'uavlist' %} " class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
                           data-bs-placement="right" data-bs-original-title="Orders">
                            <i class="bi bi-card-list fs-1" style="color:#132143"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
                           data-bs-placement="right" data-bs-original-title="Products">
                            <i class="bi-heart fs-1" style="color:#132143"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
                           data-bs-placement="right" data-bs-original-title="Customers">
                            <i class="bi bi-box-arrow-left fs-1" style="color:#132143"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-sm-11 min-vh-100">
            <!-- content -->
            <div id="booking" class="section">
                <div class="row">


                    <div class="booking-form">

                        <div class="s003">
                            <form>
                                {% csrf_token %}
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <select class="form-select" id="brand" aria-label="Default select example"
                                                    name="choices-single-defaul">
                                                <option></option>
                                            </select>
                                        </div>

                                        <div class="col-md-2">
                                            <select class="form-select" id="model" aria-label="Default select example"
                                                    name="choices-single-defaul">
                                                <option></option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <select class="form-select" id="weight" aria-label="Default select example"
                                                    name="choices-single-defaul">
                                                <option></option>

                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <select class="form-select" id="category"
                                                    aria-label="Default select example" name="choices-single-defaul">
                                                <option></option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <select class="form-select" id="airtime" aria-label="Default select example"
                                                    name="choices-single-defaul">
                                                <option></option>
                                            </select>
                                        </div>

                                          <div class="col-md-2">

                                            <button onclick="filterUav()" type="button" class="btn btn-primary"><i
                                                    class="bi bi-search"></i></button>

                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-md-10">
                                                <input id="search" type="text" placeholder="ARA" style="width:100%"/>
                                            </div>
                                            <div class="col-md-2">
                                                <button onclick="searchUav()" type="button" class="btn btn-primary"><i
                                                        class="bi bi-search"></i></button>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="container overflow-auto">
                        <div id="uav-card" class="row">


                        </div>
                    </div>

                </div>
            </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/extention/choices.js' %}"></script>
<script>
      const choices = new Choices('[data-trigger]',
      {
        searchEnabled: false,
        itemSelectText: '',
      });








</script>
</html>
<script>
  $(document).ready(function() {
    $.ajax({
      url: '/api/uav/',  // API endpoint
      method: 'GET',
      success: function(data) {
      var div = $('#uav-card');
      var select_brand = $('#brand');
      var select_model = $('#model');
      var select_weight = $('#weight');
      var select_cat = $('#category');
      var select_air = $('#airtime');
      var select_price = $('#price');
      console.log(select_brand);
        $.each(data, function(index, uav) {

        console.log(uav)
        var uavCard = $('<div class="col-md-4 my-3">\
                          <div class="booking-form">\
                            <div class="uav-card">\
                            <img src="' + uav.img + '" height="150px" width="150px">\
                              <hr>\
                              <h1>' + uav.brand + '</h1>\
                              <hr>\
                              <h3>' + uav.model + '</h3>\
                              <hr>\
                              <h3>' + uav.weight + '</h3>\
                              <hr>\
                              <h3>' + uav.category + '</h3>\
                              <hr>\
                              <h3>' + uav.airtime + '</h3>\
                              <hr>\
                              <h3>' + uav.price + '</h3>\
                            </div>\
                            <button type="button" onclick="deleteMyModel('+uav.id+')" class="btn btn-danger"><i class="bi bi-trash"></i> Sil </button>\
                            <a href="/putuav/'+uav.id+'" ><button type="button" class="btn btn-primary"><i class="bi bi-pen"></i> Düzenle </button></a>\
                          </div>\
                        </div>');
      div.append(uavCard);
         select_brand.append($('<option>', {
          value: '+uav.brand+',
          text: uav.brand
        }));
        select_model.append($('<option>', {
          value: '+uav.model+',
          text: uav.model
        }));
        select_weight.append($('<option>', {
          value: '+uav.weight+',
          text: uav.weight
        }));
        select_cat.append($('<option>', {
          value: '+uav.category+',
          text: uav.category
        }));
        select_air.append($('<option>', {
          value: '+uav.airtime+',
          text: uav.airtime
        }));

    });
  },
  error: function(error) {
    console.log(error);
  }
    });
  });

function deleteMyModel(id) {
    $.ajax({
        url: '/api/uav/' + id + '/', // URL şablonuna parametre ekleyin
        type: 'DELETE',
headers: {
        'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value
    },
        success: function() {
            alert('Öğe başarıyla silindi!');
        },
        error: function() {
            alert('Bir hata oluştu. Öğe silinemedi.');
        }
    });
}
function searchUav() {
    var search_input = $('#search');
    var search_term = search_input.val();
    console.log(search_term)
    $.ajax({
        url: '/api/uav/?search=' + search_term,
        method: 'GET',
        headers: {
        'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value
        },
        success: function(data) {
              var div = $('#uav-card');
        var select_brand = $('#brand');
        var select_model = $('#model');
        var select_weight = $('#weight');
        var select_cat = $('#category');
        var select_air = $('#airtime');


        div.empty();
        select_brand.empty();
        select_model.empty();
        select_weight.empty();
        select_cat.empty();
        select_air.empty();
        select_price.empty();
        $.each(data, function(index, uav) {
        console.log("uav.id");
        var uavCard = $('<div class="col-md-4 my-3">\
                          <div class="booking-form">\
                            <div class="uav-card">\
                            <img src="' + uav.img + '" height="150px" width="150px">\
                              <hr>\
                              <h1>' + uav.brand + '</h1>\
                              <hr>\
                              <h3>' + uav.model + '</h3>\
                              <hr>\
                              <h3>' + uav.weight + '</h3>\
                              <hr>\
                              <h3>' + uav.category + '</h3>\
                              <hr>\
                              <h3>' + uav.airtime + '</h3>\
                              <hr>\
                              <h3>' + uav.price + '</h3>\
                            </div>\
                            <button type="button" onclick="deleteMyModel('+uav.id+')" class="btn btn-danger"><i class="bi bi-trash"></i> Sil </button>\
                            <a href="/putuav/'+uav.id+'" ><button type="button" class="btn btn-primary"><i class="bi bi-pen"></i> Düzenle </button></a>\
                          </div>\
                        </div>');
      div.append(uavCard);



    });
        },
        error: function() {
            alert('Bir hata oluştu. Öğe silinemedi.');
        }
    });
}
function filterUav() {
  // formdaki input elementlerinden verileri alın
  var brand = $("#brand option:selected").text();
  var model = $("#model option:selected").text();
  var weight = $("#weight option:selected").text();
  var cat = $("#category option:selected").text();
  var air = $("#airtime option:selected").text();
  var price = $("#price option:selected").text();

  $.ajax({
    url: '/api/uav/' + '?brand=' +brand+ '&model=' + model + '&weight=' + weight + '&category=' +cat + '&airtime='+ air ,
    method: "GET",
    dataType: "json",
  success: function(data) {
              var div = $('#uav-card');
        var select_brand = $('#brand');
        var select_model = $('#model');
        var select_weight = $('#weight');
        var select_cat = $('#category');
        var select_air = $('#airtime');
    var select_price = $('#price');


        div.empty();
        select_brand.empty();
        select_model.empty();
        select_weight.empty();
        select_cat.empty();
        select_air.empty();
        select_price.empty();
        $.each(data, function(index, uav) {
        console.log("uav.id");
        var uavCard = $('<div class="col-md-4 my-3">\
                          <div class="booking-form">\
                            <div class="uav-card">\
                            <img src="' + uav.img + '" height="150px" width="150px">\
                              <hr>\
                              <h1>' + uav.brand + '</h1>\
                              <hr>\
                              <h3>' + uav.model + '</h3>\
                              <hr>\
                              <h3>' + uav.weight + '</h3>\
                              <hr>\
                              <h3>' + uav.category + '</h3>\
                              <hr>\
                              <h3>' + uav.airtime + '</h3>\
                              <hr>\
                              <h3>' + uav.price + '</h3>\
                            </div>\
                            <button type="button" onclick="deleteMyModel('+uav.id+')" class="btn btn-danger"><i class="bi bi-trash"></i> Sil </button>\
                            <a href="/putuav/'+uav.id+'" ><button type="button" class="btn btn-primary"><i class="bi bi-pen"></i> Düzenle </button></a>\
                          </div>\
                        </div>');
      div.append(uavCard);



    });
        },
    error: function(error) {
      console.error(error);
    }
  });
}




</script>

